doctype 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7.ie
//if IE 7
  html.no-js.lt-ie9.lt-ie8.ie
//if IE 8
  html.no-js.lt-ie9.ie
//[if gt IE 8]><!
html
  //<![endif]
  head
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="viewport",content="width=1200")
    meta(charset="utf-8")
    link(rel="icon",type="image/png",href="/img/common/favicon.png")
    if typeof title !== "undefined"
        title=title
    else
        title J++

    block stylesheets
    !=css("style")

  body.js-loading(class=page)


    #old-browser
        h4 Votre navigateur <strong>est trop ancien</strong>
        p <a href="http://browsehappy.com/">Mettez à jour votre navigateur</a> ou <a href="http://www.google.com/chromeframe/?redirect=true">installez Google Chrome Frame</a> pour accéder à cette page.

    
    #overflow
        include widget/menu.jade
        #container
            block content
                                                
    != js('global')
    if debugMode
        script(src="/js/vendor/jquery-ui.min.js", type="text/javascript")          
        != js('debug')

    block scripts
    
    
