.nav
    ul.steps
        li
            a.to-step.to-home(href="#step=0", data-step=0)              
                img(src="/img/common/bt-home.png", alt="home")

        each step, stepKey in data           
            li(class=(step["no-index"] ? "hidden":""))
                a.to-step(href="#step="+stepKey, data-step=stepKey)
                    span.wrapper=strip_tags(step.name)
                    i.left10=stepKey

    ul.arrows
        li
            a.previous(title="Précendent") &larr;
        li
            a.next(title="Suivant") &rarr; 
